body {
  font-family: Helvetica;
  color: grey;
  margin:0px auto;
}

p {
  line-height: 150%;
  font-size:110%;
}

h1 {
  font-size:45px;
}

header {
  height:30px;
  background:grey;
  padding:15px;
}

header img {
  float:left;
  margin-left:40px;
}

#breadcrumb {
  height:30px;
  padding:15px 15px 5px 50px;
  border-bottom:1px solid silver;
  background:#f5f5f5;
}

#breadcrumb a {
  text-decoration: none;
  color:#33a6fe;
  font-weight:bold;
}

/* nav bar */
ul li {
  list-style:none;
}

ul {
  display:inline;
}

nav {
  float:right;
}

nav a {
  list-style: none;
  text-decoration: none;
  color:#fff;
  margin-right:30px;
}

nav li {
  display: inline;
}

article { 
  height: 100%;
  width:40%;
  float:left;
  margin-left:100px;
  position: relative; 
}

#first, #second, #third, #fourth, #fifth, #sixth {
  height: 450px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px;
}

#first { 
  background: url(../img/1.png) 95% 0 no-repeat;
  background-position:90% 40%;
}

#second { 
  background: url(../img/2.png) 95% 0 no-repeat;
  background-position:90% 40%;
}
 
#third { 
  background: url(../img/3.png) 95% 0 no-repeat;
  background-position:90% 40%;
}
 
#fourth { 
  background: url(../img/4.png) 95% 0 no-repeat;
  background-position:90% 40%;
}

#fifth { 
  background: url(../img/5.png) 95% 0 no-repeat;
  background-position:90% 40%;
}

#fifth p {
  font-size:100%;
}

#sixth {
  background: url(../img/6.png) 95% 0 no-repeat;
  background-position:90% 40%;
}

/* table */
table {
  width:100%;
  background:#eaeaea;
  padding:15px;
}

table td {
  padding:15px;
  vertical-align: top;
}

/* footer */

footer {
  position:absolute;
  bottom:0px;
  padding:15px;
  width:100%;
  background:grey;
  color:#fff;
  text-align: center;
}

/* button */

button {
  background:#33a6fe;
  width:150px;
  height:50px;
  border:none;
  color: #fff;
  font-size: 20px;
  border-radius:15px;
}

#add {
  background:#00b140;
  width:200px;
}

#tagline {
  margin-left:50px;
}
